<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flipkart Clone</title>

    <!--Fevicon Link-->
    <link rel="shortcut icon" href="/Img/favicon.png" type="image/x-icon">

    <!--CSS Link-->
    <link rel="stylesheet" href="/CSS/Style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="https://www.flipkart.com/"><img src="/Img/logo.png"></a>
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>

            <div class="search">
                <input type="text" placeholder="Enter your Product Name ...">
                <button class="btn">Search</button>

            </div>
        </nav>
    </header>


    <main>
        <div class="container">
            <div class="slider">   <!--Just uploaded image-->
                <a href=""><img src="/Img/top.jpg"></a>
            </div>

            <div class="cards">
                <div class="card">
                    <h2 class="my-2">Furniture BestSellers</h2>
                    <a href="">
                        <div class="card-item">
                            <img src="/Img/f1.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Home Temples</p>
                                <p class="text-center my-1 m">From &#8377;399</p>
                                <p class="text-center my-1 b">Trendy Collection</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/f2.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Outdoor Chairs</p>
                                <p class="text-center my-1 m">From &#8377;479</p>
                                <p class="text-center my-1 b">Nilkamal A</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/f3.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Sofa Sets</p>
                                <p class="text-center my-1 m">Minimum 30% off</p>
                                <p class="text-center my-1 b">Fabric & Leather</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/f4.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Cabinet & Drawers</p>
                                <p class="text-center my-1 m">From &#8377;199</p>
                                <p class="text-center my-1 b">Fabric & Leather</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/f5.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Top TV Units</p>
                                <p class="text-center my-1 m">From &#8377;4,499</p>
                                <p class="text-center my-1 b">Home Towns, Perfect Homes</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/f6.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Hammock & Swings</p>
                                <p class="text-center my-1 m">From &#8377;199</p>
                                <p class="text-center my-1 b">Fabric & Leather</p>

                            </div>
                        </div>
                    </a>

                    <!--...................-->

                    <h2 class="my-2">Top Fashion Styles</h2>
                    <a href="">
                        <div class="card-item">
                            <img src="/Img/t1.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Premium Suitcases</p>
                                <p class="text-center my-1 m">Minimum 40% off</p>
                                <p class="text-center my-1 b">Skybags, VIP</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/t2.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Trendy Backpacks</p>
                                <p class="text-center my-1 m">From &#8377;199</p>
                                <p class="text-center my-1 b">Safari, Skybags</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/t3.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Watches</p>
                                <p class="text-center my-1 m">Minimum 80% off</p>
                                <p class="text-center my-1 b">Grab Now!</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/t4.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Jewellery Set</p>
                                <p class="text-center my-1 m">Min 70% off</p>
                                <p class="text-center my-1 b">Sukkhi, vatsalya Creation</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/t5.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Gowns</p>
                                <p class="text-center my-1 m">Min 70% Off</p>
                                <p class="text-center my-1 b">Embroidered, Ethnic Sets</p>

                            </div>
                        </div>
                    </a>

                    <a href="">
                        <div class="card-item">
                            <img src="/Img/t6.jpeg" width="135" height="150">
                            <div class="lines">
                                <p class="text-center my-1 t">Joggers</p>
                                <p class="text-center my-1 m">From &#8377;199</p>
                                <p class="text-center my-1 b">Fabric & Leather</p>

                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </main>

    <br>
    <br>

    <footer class="flex-allcenter">
        <p>Copyright & copy; FlipkartClone.com</p>

    </footer>
    
</body>
</html>